body {
  font-family: "Raleway", sans-serif;
}


.card-img-top {

  height: 300px !important;
  width: auto !important;
}

/* Hero Section */
#Hero-Section {
  width: 100%;
  height: 630px;
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
}

#Hero-Section p {
  padding-left: 30%;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}

.halo-text {
  color: #000;
  /* Color principal del texto */
  text-shadow:
    -1px -1px 2px #fff,
    1px -1px 2px #fff,
    -1px 1px 2px #fff,
    1px 1px 2px #fff;
}

.discurso,
.discurso p,
.discurso ul,
.discurso li {
  text-align: justify;
  text-justify: inter-word;
  /* mejora la justificación */
  line-height: 1.6;
  /* espacio entre líneas para mejor lectura */
}




.info-curso ul {
  list-style: none;
  /* quita los puntos */
  padding-left: 0;
  /* quita la sangría */
  margin: 0;
}

.info-curso li {
  margin-bottom: 0.5rem;
  /* espacio entre ítems */
}


/* Justifica los párrafos y listas dentro de la clase "discurso" y los contenidos principales */
.discurso,
.discurso p,
.discurso ul,
.discurso li {
  text-align: justify;
  text-justify: inter-word;
  /* mejora la justificación */
  line-height: 1.6;
  /* espacio entre líneas para mejor lectura */
}